:root {
  --primary-color: #e29578;
  --secondary-color: #edf6f9;
  --pink: #ffddd2;
  --water-green: #006d77;
  --light-green: #83c5be;
}

.search-bar {
  width: 50%;
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e29578;
  color: var(--pink);
  position: relative;
}

img {
  margin-top: 30px;
  width: 200px;
}

.search-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-top: 3%;
}

#book-name {
  width: 80%;
  height: 30px;
  display: flex;
  align-self: flex-start;
}

.logout-btn {
  width: 15%;
  height: 30px;
  padding: 1px;
  border-radius: 5%;
  position: absolute;
  top: 0%;
  left: 80%;
}

.search {
  width: 100%;
}
.search-form-container {
  display: flex;
  flex-direction: row;
}

.search-form-container button {
  width: 10%;
}
