:root {
  --primary-color: #e29578;
  --secondary-color: #edf6f9;
  --pink: #ffddd2;
  --water-green: #006d77;
  --light-green: #83c5be;
}

.show-screen {
  width: 80%;
  height: 420px;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-info {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  
}

.book-header {

}

.book-description {

}

.bookshelf-navigation {
  width: 100%;
  /* position: absolute;
  top: 100%;
  left: 0%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--pink);
  padding: 3px;
}

.review {
  width: 50%;
}

.textarea textarea {
  width: 90%;
  height: 70px;
}

.bookshelf-buttons {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bookshelf-buttons button {
  width: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin: 3px;
}

.checkboxes {
  padding: 3px;
}