:root {
  --primary-color: #e29578;
  --secondary-color: #edf6f9;
  --pink: #ffddd2;
  --water-green: #006d77;
  --light-green: #83c5be;
}

.main-screen {
  width: 100%;
  height: 500px;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90%;
  height: 400px;
  background-color: var(--light-green);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: var(--primary-color); */
}

.info p {
  background-color: var(--pink);
  padding: 2px;
}

.book-categories p {
  background-color: var(--pink);
  padding: 2px;
  border: 1px solid black;
  margin: 1px;
}

.description {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  align-self: flex-start;
  /* background-color: var(--water-green); */
}

.book-description p {
  width: 80%;
  color: #edf6f9;
  font-size: medium;
}

.bookshelf-navigation {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--pink);
  padding: 3px;
}

.review {
  width: 50%;
}

.textarea textarea {
  width: 90%;
  height: 100px;
}

.bookshelf-buttons {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bookshelf-buttons button {
  width: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  margin: 3px;
}

.checkboxes {
  padding: 3px;
}