@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&family=Roboto+Serif:opsz,wght@8..144,100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bodoni Moda", serif;
}

:root {
  --primary-color: #e29578;
  --secondary-color: #edf6f9;
  --pink: #ffddd2;
  --water-green: #006d77;
  --light-green: #83c5be;
}

body {
  background-color: var(--primary-color);
}

html {
  font-size: 75.5%;
}

.App {
  display: flex;
  justify-content: center;
}
